@page "/Account/AccessDenied"

<PageTitle>Erişim Reddedildi</PageTitle>

<header>
    <h1 class="text-danger">Erişim Reddedildi</h1>
    <p class="text-danger">Bu kaynağa erişiminiz bulunmamaktadır.</p>
</header>
